/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.displayHeader {
    background-color: #AAAAAA;
}

.grayRow {
    background-color: #DDDDDD;
}

.displayColumn {
    width: 100px;
}